.services-pluses
  margin-top 200px
  &__wrapper
    display flex
  &__separator
    width 1px
    align-self stretch
    background rgba(black, .11)
    flex-shrink 0
    margin 0 70px 0 60px
  &__list
    flex-shrink 0
    &__item
      white-space nowrap
      font-family "Proxima Nova"
      font-weight normal
      font-size 19px
      letter-spacing 0.1em
      line-height 28px
      display flex
      align-items center
      &:not(:last-child)
        margin-bottom 100px
      svg
        margin-right 45px
        width 70px
        height 70px
  &__text
    height 420px
    overflow auto 
    font-family 'Montserrat', sans-serif
    font-weight 100
    font-size 18px
    letter-spacing 0.03em
    line-height 26px
    text-align left
    color #000
    a
      color #2CA2FF
      cursor pointer
      font-weight bold

@media (max-width 768px)
  .services-pluses
    margin-top 97px
    &__separator
      display none
    &__col
      &:not(:last-child)
        margin-right 40px
    &__text
      font-size 14px
@media (max-width 480px)
  .services-pluses
      margin-top 45px
      &__wrapper
        flex-direction column
        justify-content center
        align-items center
      &__col
        &:not(:last-child)
          margin-right 0
      &__list
        margin-bottom 50px
        &__item
          font-size 16px
          &:not(:last-child)
            margin-bottom 40px
          svg 
            margin-right 60px
            width 50px
            height 50px
      &__text
        font-size 12px
        height 300px