.owl-stage, .owl-stage-outer
  display flex
  justify-content center
  align-items center
// .owl-item
//     width 370px
//     max-width 370px


.services-slider
  margin-top 70px 
  background url('./../images/slider__bg.png') no-repeat center
  padding 135px 0 95px 0
  &__wrapper
    display flex
    justify-content center
    align-items center
    width 100%
  &__item
    border 2px solid white
    display flex
    flex-direction column
    align-items center
    padding 30px
    height 581px
    justify-content space-between
    &--active
      padding 84px 30px
  &__ico
    display flex
    flex-direction column
    align-items center
    justify-content center
    svg
      fill white
      width 45px
      height 45px
    &--standart
      svg
        width 65px
        height 65px
    &--premium
      svg
        transform rotate(45deg)
        width 60px
        height 60px
    p
      font-size 26px
      line-height 36px
      color white
      margin 30px 0 0 0
      font-family 'Montserrat', sans-serif
      font-weight 600
      letter-spacing 0.04em
  &__list
    min-height 270px
    min-width 305px
    display flex
    justify-content center
    ul
      display flex
      flex-direction column
      li
        align-items center
        font-size 14px
        font-family 'Montserrat', sans-serif
        letter-spacing 0.1em
        line-height 45px
        color #fff
        white-space nowrap
        svg
          fill white
          margin-right 15px
          width 9px
          height 7px
  &__separator
    height 1px
    width 85%
    display block
    background rgba(white, .3)
    margin-bottom 30px
  &__button
    //
