.astronaut__mob
  display none

.services
  transform translateY(-150px)
  &__desc
    display flex
    margin-top 40px
    &__col
      width 50%
    &__img-wrapper
      background url('./../images/store-mockup.png') no-repeat
      background-size contain
      background-position-x -100px
      margin-right 30px
      transition background-position-x 2s ease
      will-change background-position-x
      &:hover
        background-position-x: 0px;
    &__title
      h2
        font-family 'Gotham-Medium'
        font-size 40px
        line-height 55px
        text-align right
        margin-bottom 110px
        padding-top 31px
    &__btn
      display flex
      justify-content flex-end
      padding-bottom 206px
    &__list
      margin-top 40px
      margin-left 20px
      li
        display flex
        align-items center
        font-family 'Montserrat', sans-serif
        font-weight normal
        font-size 16px
        line-height 40px
        margin-bottom 10px
        svg
          margin-right 15px
          width 9px
          height 7px
          flex-shrink 0
          fill #0036BE
          path
            opacity 1

@media (max-width 768px)
  .services
    transform translateY(-70px)
    &__desc
      flex-direction column
      &__col
        width 100%
      &__img-wrapper
        background-position-x: -70px;
      &__list
        margin-top 0
        li
          font-size 14px
      &__title
        h2
          font-size 25px
          line-height 30px
          margin-bottom 75px
      &__btn
        padding-bottom 150px
  
  
@media (max-width 480px)
  .astronaut__mob
    display block
    height 130px
    width 150px
    transform translateX(20px)
  .services
    transform translateY(-30px)
    &__desc
      &__title
        h2
          font-size 18px
          margin-bottom 25px
      &__btn
        padding-bottom 42px 
      &__img-wrapper
        margin-bottom 26px
        background-position-y 100%

      &__list
        li
          font-size 12px
          line-height 17px