.services-additional
  padding-left 100px
  padding-right 80px
  display flex
  justify-content space-between
  &__title
  h2
    font-family 'Gotham-Medium'
    font-size 40px
    line-height 55px
    margin-bottom 65px
  &__desc
    display flex
    margin-top 40px
    &__col
      height 644px
      &--astronaut
        display flex
        align-items flex-start
    &__img-wrapper
      position relative
      svg
        position absolute
        width 110px
        height 644px
        left -20px
        fill #0036BE
        transition transform 1s ease
        z-index 2
      img
        max-height 534px
        object-fit contain    
        transition transform 1s ease
      &:hover
        svg
          transform translateY(-10px)
        img
          transform translateY(10px)
    &__list
      margin-top 40px
      margin-left 20px
      ul
        &:not(:last-child)
          padding-right 120px
      li
        display flex
        align-items center
        font-family 'Montserrat', sans-serif
        font-weight normal
        font-size 16px
        line-height 35px
        svg
          margin-right 15px
          width 9px
          height 7px
          flex-shrink 0
          fill #0036BE
          path
            opacity 1
      &__wrapper
        display flex
        justify-content space-between

@media (max-width 768px)
  .services-additional
    padding-left 20px
    padding-right 20px  
    &__title
        margin-bottom 20px
        text-align center
        h2
          font-size 25px
          line-height 30px
          margin-bottom 0
    &__desc
      &__col
        height unset 
      &__list
        margin-left 0
        &__wrapper
          flex-direction column
          height 455px
          overflow auto
        ul
          &:not(:last-child)
            padding-right 0
        li
          font-size 14px
      &__img-wrapper
        margin-top 100px
        position absolute
        right -270px
        svg
          left 80px
          height 434px
        img
          max-height 327px

@media (max-width 480px)
  .services-additional
    &__title
      text-align end
      display flex
      position relative
      align-items flex-end
      h2
        font-size 18px
    &__desc
      &__list 
        margin-top 20px
        &__wrapper
          height unset
        li
          font-size 12px
          line-height 17px
      &__col
        &--astronaut
          display none