<div class="header__banner header__banner--vacanciesArticle">
  <div class="header__banner__wrapper">
    <div class="container">
      <h1 class="header__banner__title">
        Senior JavaScript Developer
      </h1>
    </div>
  </div>
</div>