<div class="header__banner">
  <div class="header__banner__wrapper">
    <div class="container">
      <h1 class="header__banner__title">
        Мы здесь для реализации<br>
        самых амбициозных проектов!
      </h1>
      <div class="header__banner__btns">
        <a href="#" class="btn btn--white btn--white--mob">free consultation</a>
        <div class="header__banner__links">
          <a class="header__banner__link" href="#">Web development</a>
          <a class="header__banner__link" href="#">Интернет-маркетинг</a>
        </div>
      </div>
    </div>
  </div>
</div>