<header class="header">
  <div class="header__wrapper">
    <div class="logo">
      <a href="/"><h2><span>Intent</span> Solutions</h2></a>
    </div>
    <div class="header__contacts">
      <div class="header__contacts__phone">
        <svg><use xlink:href="#ico-mobile"></use></svg>
        <a href="tel:+38 (067) 189 28 34">+38 (067) 189 28 34</a>
      </div>
      <div class="header__contacts__lang"><a href="#">ru</a></div>
      <div class="header__menu-btn">
        <a href="#"><svg><use xlink:href='#ico-menu'></use></svg></a>
      </div>
    </div>
  </div>
</header>

