<div class="header__banner header__banner--work">
  <div class="header__banner__wrapper">
    <div class="container">
      <h1 class="header__banner__title header__banner__title--centered">
        Интернет магазин
      </h1>
    </div>
  </div>
</div>