
  <div class="technology">
    <div class="technology__icons">
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-angular'></use></svg>
        <p>Angular</p>
      </div>
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-react'></use></svg>
        <p>React</p>
      </div>
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-css3-alt'></use></svg>
        <p>СCS 3</p>
      </div>
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-vuejs'></use></svg>
        <p>Vue Js</p>
      </div>
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-html5'></use></svg>
        <p>Html 5</p>
      </div>
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-javascript'></use></svg>
        <p>Javascript</p>
      </div>
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-jquery'></use></svg>
        <p>Jquery</p>
      </div>
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-laravel'></use></svg>
        <p>Laravel</p>
      </div>
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-yii'></use></svg>
        <p>Yii</p>
      </div>
      <div class="technology__icon">
        <svg><use xlink:href='#Ico-c-plus-plus'></use></svg>
        <p>C++</p>
      </div>
    </div>
  </div>