<div class="header__banner header__banner--blog">
  <div class="header__banner__wrapper">
    <div class="container">
      <h1 class="header__banner__title">
        Блог
      </h1>
    </div>
  </div>
</div>