<div class="header__banner header__banner--about">
  <div class="header__banner__wrapper">
    <div class="container">
      <h1 class="header__banner__title">
        О компании
      </h1>
    </div>
  </div>
</div>