<div class="services-slider">
  <div class="container">
    <div class="services-slider__wrapper owl-carousel owl-theme">
      <div class="services-slider__item">
        <div class="services-slider__ico">
          <svg>
            <use xlink:href='#starter-ico'></use>
          </svg>
          <p>Starter</p>
        </div>
        <div class="services-slider__list">
          <ul>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Разработка прототипа
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Разработка типового дизайна
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Адаптивная верстка
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Настройка форм заказа/подписки
            </li>
          </ul>
        </div>
        <div class="services-slider__separator"></div>
        <div class="services-slider__button">
          <button class="btn btn--slider">заказать</button>
        </div>
      </div>
      <div class="services-slider__item services-slider__item--active">
        <div class="services-slider__ico services-slider__ico--standart">
          <svg>
            <use xlink:href='#standart-ico'></use>
          </svg>
          <p>Standart</p>
        </div>
        <div class="services-slider__list">
          <ul>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Разработка прототипа
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Уникальный дизайн
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Адаптивная верстка
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Текстовый контент
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Функциональные блоки
            </li>
          </ul>
        </div>
        <div class="services-slider__separator"></div>
        <div class="services-slider__button">
          <button class="btn btn--slider">заказать</button>
        </div>
      </div>
      <div class="services-slider__item">
        <div class="services-slider__ico services-slider__ico--premium">
          <svg>
            <use xlink:href='#premium-ico'></use>
          </svg>
          <p>Premium</p>
        </div>
        <div class="services-slider__list">
          <ul>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Разработка УТП
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Текстовый контент
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Разработка прототипа
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Уникальный дизайн
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              Настройка контекстной рекламы
            </li>
            <li>
              <svg>
                <use xlink:href='#awesome-check'></use>
              </svg>
              A-B тестирование конверсий
            </li>
          </ul>
        </div>
        <div class="services-slider__separator"></div>
        <div class="services-slider__button">
          <button class="btn btn--slider">заказать</button>
        </div>
      </div>
    </div>
  </div>
</div>