<div class="services-pluses">
  <div class="services-pluses__wrapper">
    <div class="services-pluses__col">
      <div class="services-pluses__list">
        <div class="services-pluses__list__item">
          <svg><use xlink:href='#technical-support'></use></svg>
          Тех поддержка<br>1 год
        </div>
        <div class="services-pluses__list__item">
          <svg><use xlink:href='#marketing'></use></svg>
          Маркетинг
        </div>
        <div class="services-pluses__list__item">
          <svg><use xlink:href='#training'></use></svg>
          Обучение по<br>работе с сайтом
        </div>
      </div>
    </div>
    <div class="services-pluses__separator"></div>
    <div class="services-pluses__col">
      <div class="services-pluses__text">
        IT компания <a href="#">Intent Solutions</a> в Харькове оказывает услуги по разработке сайтов, мобильных приложений и индивидуальных проектов на базе frameworks YII2, Laravel, Zend, Symfony, CMS OpenCart с 2013 года. За 5 лет мы выработали свою стратегию успешной и результативной работы. Наша основная цель - это конкретный результат, который получит Ваш бизнес. И для его достижения мы используем исключительно комплексный подход в работе.
        Стоимость создания сайта и результат
        Современный онлайн бизнес существует в рамках жесткой конкуренции, поэтому при выводе проекта в интернет пространство крайне важно использовать весь арсенал доступных инструментов. Создание сайта в Харькове или мобильного приложения для нас не заканчивается написанием последней строчки кода и тестированием продукта. Разработку WEB сайта считаем завершенной, только после того, как Вы начали получать первые звонки от клиентов! И за время работы такой подход позволил нам завоевать доверие и лояльность со стороны Заказчиков, с 70% которых мы выстроили долгосрочные партнерские отношения.IT компания Intent Solutions в Харькове оказывает услуги по разработке сайтов, мобильных приложений и индивидуальных проектов на базе frameworks YII2, Laravel, Zend, Symfony, CMS OpenCart с 2013 года. За 5 лет мы выработали свою стратегию успешной и результативной работы. Наша основная цель - это конкретный результат, который получит Ваш бизнес. И для его достижения мы используем исключительно комплексный подход в работе.
        Стоимость создания сайта и результат
        Современный онлайн бизнес существует в рамках жесткой конкуренции, поэтому при выводе проекта в интернет пространство крайне важно использовать весь арсенал доступных инструментов. Создание сайта в Харькове или мобильного приложения для нас не заканчивается написанием последней строчки кода и тестированием продукта. Разработку WEB сайта считаем завершенной, только после того, как Вы начали получать первые звонки от клиентов! И за время работы такой подход позволил нам завоевать доверие и лояльность со стороны Заказчиков, с 70% которых мы выстроили долгосрочные партнерские отношения.
      </div>
    </div>
  </div>
</div>