<div class="services__desc">
  <div class="services__desc__col">
    <div class="services__desc__img-wrapper">
      <div class="services__desc__title">
        <h2>
          Функционал<br>
          интернет магазина<br>
          предусматривает
        </h2>
      </div>
      <div class="services__desc__btn">
        <a href="#" class="btn btn--full-black">подробнее</a>
      </div>
    </div>
  </div>
  <div class="services__desc__col">
    <div class="services__desc__list">
      <ul>
        <li>
          <svg><use xlink:href='#awesome-check'></use></svg>
          Возможность добавления опций товару с пересчетом стоимости. Например: Цвет...
        </li>
        <li>
          <svg><use xlink:href='#awesome-check'></use></svg>
          Версия сайта адаптированная под мобильные устройства
        </li>
        <li>
          <svg><use xlink:href='#awesome-check'></use></svg>
          Возможность регистрации клиентов для просмотра истории заказов и скидок
        </li>
        <li>
          <svg><use xlink:href='#awesome-check'></use></svg>
          Возможность выбора нескольких валют работы магазина с автообновлением курса
        </li>
        <li>
          <svg><use xlink:href='#awesome-check'></use></svg>
          Техническая поддержка в течении 6 месяцев
        </li>
        <li>
          <svg><use xlink:href='#awesome-check'></use></svg>
          Неограниченное кол-во товаров/категорий
        </li>
        <li>
          <svg><use xlink:href='#awesome-check'></use></svg>
          Рекомендации к товару, похожие товары Хиты продаж, товары со скидкой
        </li>
        <li>
          <svg><use xlink:href='#awesome-check'></use></svg>
          Онлайн-уведомления о новом заказе
        </li>
      </ul>
    </div>
  </div>
</div>