<div class="services-additional">
  <div class="services-additional__desc__col">
    <div class="services-additional__desc__list">
      <div class="services-additional__title services-additional__title">
        <h2>
          Дополнительные возможности
        </h2>
        <div class="astronaut__mob">
          <img src="../../images/astronaut__mob.png" alt="">
        </div>
      </div>
      <div class="services-additional__desc__list__wrapper">
        <ul>
          <li>
            Отзывы покупателей
          </li>
          <li>
            Список просмотренных товаров
          </li>
          <li>
            Общий остаток товаров, модуль «Уведомить о наличии»
          </li>
          <li>
            Фасеточный поиск по товарам
          </li>
          <li>
            Кнопка «Быстро купить»
          </li>
          <li>
            Расчет стоимости доставки
          </li>
          <li>
            Онлайн-оплата (кредитные карты, PayPal и другие)
          </li>
          <li>
            Количественная скидка на заказ
          </li>
          <li>
            Скидка по сумме заказа
          </li>
        </ul>
        <ul>
          <li>
            Остаток по складам
          </li>
          <li>
            Внутренняя баннерная реклама
          </li>
          <li>
            Онлайн-уведомления о новом заказе
          </li>
          <li>
            Новости, статьи
          </li>
          <li>
            Мультивалютность
          </li>
          <li>
            Категории цен (розница, опт, крупный опт)
          </li>
          <li>
            Синхронизация с 1С
          </li>
          <li>
            Распределение ролей в Панели управленияа
          </li>
          <li>
            Кнопки Like и Share, ссылки на соц. сети
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="services-additional__desc__col services-additional__desc__col--astronaut">
    <div class="services-additional__desc__img-wrapper">
      <svg><use xlink:href='#arrows__astronaut'></use></svg>
      <img src="./../../images/astronaut.png" alt="astronaut">
    </div>
  </div>
</div>