.blogBlock
  margin-bottom 150px
  &__wrapper
    display flex
    flex-wrap wrap
    justify-content center
  &__item
    display flex
    flex-direction column
    width 565px
    margin-bottom 60px
    &:nth-child(2n)
      margin-left 40px
  &__img
    overflow hidden
  &__img-wrapper  
    height 299px
    display flex
    position relative
    justify-content center
    &__shadow
      width 440px
      height 267px
      position absolute
      z-index 1
      bottom 0
      left 50%
      transform translate(-50%, 0)
      box-shadow 0px 3px 48px rgba(0, 0, 0, 0.42)
    img
      position relative
      z-index 2
      width 100%
      height 100%
      object-fit cover
    
  &__desc
    margin-top 32px
    font-size 16px
    font-family 'Montserrat', sans-serif
    letter-spacing 0.03em
    line-height 27px
    padding-left 32px
    font-weight 500
    a
      transition color .5s ease
      &:hover
        color #167ac6

@media (max-width 1024px)
  .blogBlock
    margin-bottom 66px
    &__item
      width 352px

    &__img-wrapper
      height 236px
      &__shadow
        width 310px
        height 167px

@media (max-width 768px)
  .blogBlock
    margin-bottom 66px
    &__item
      width 352px
      margin-bottom 38px
      &:nth-child(2n)
        margin-left 20px
    &__desc
      font-size 13px
      line-height 20px
    &__img-wrapper
      height 236px  
      &__shadow
        width 310px
        height 167px

@media (max-width 480px)
  .blogBlock
    margin-bottom 48px
    &__wrapper
      padding-top 11px
    &__item
      width 301px
      margin-bottom 38px
      &:nth-child(2n)
        margin-left 0
      &:last-child
        margin-bottom 0
    &__desc
      font-size 13px
      line-height 20px
      padding-left 0
      margin-top 13px
    &__img-wrapper
      height 160px  
      &__shadow
        width 266px
        height 143px