.consultation
  &__text
    position relative
    height 316px
    background #2CA2FF
    svg 
      height 303px
      width 80px
      position absolute
      left 23%
      top -20px
      z-index 2
      fill white
      transition top .5s ease-out
    h2
      position relative
      z-index 2
      font-size 45px
      color white
      font-family 'Gotham-Bold'
      text-align center
      margin-bottom 9px
      padding-top 69px
    h4
      position relative
      z-index 2
      font-size 18px
      color white
      font-family 'Montserrat', sans-serif
      text-align center
      margin-right 100px
      margin-bottom 55px
    &__wrapper
      position absolute
      left 30%
    &:hover
      svg
        top 0

  &__btn
    position relative
    z-index 2
  &__img
    position absolute
    z-index 1
    top -20px
    height 316px
    overflow hidden
    right 40px
    width 1394px
    background url('./../images/consultation.png') no-repeat center
    img
      width 100%
      height 100%
      object-fit cover

@media(max-width 768px)
  .consultation
    &__text
      height 166px
      svg 
        height 165px
        width 44px
        left 84px
      h4
        font-size 13px  
        margin-right 0
        margin-bottom 30px
      h2
        padding-top 17px
        font-size 25px
    &__img
      right 20px
      top -20px
      height 166px
      width 650px
      background url('./../images/consultation768.png') no-repeat center

@media (max-width 480px)
  .consultation
    &__text
      height 243px
      h2
        padding-top 27px
        text-align left
        margin-bottom 96px
      h4
        display none
      svg
        right 20px
        left initial
        bottom 10px
        top initial
      &:hover
        svg
          top initial
      &__wrapper
        left 0
        padding-left 27px
    &__img
      right 0
      top 0
      width 100%
      height 243px
      background url('./../images/consultation480.png') no-repeat center
      background-size cover
    &__btn
      font-size 12px
      padding 7px 20px
      boredr 2px solid white