.how
  padding 95px 0 180px 0
  margin-bottom 90px
  background url('./../images/how_bg.png') no-repeat center 
  background-size cover
  &__plan
    // padding 0 310px
    &__items
      display flex
      padding-bottom 180px
      justify-content space-between
    &__ico
      margin-right 25px
      svg 
        fill white
        width 57px
        height 57px
    &__item
      background #031C41
      padding 50px 40px
      position relative
      z-index 3
      display flex
      align-items center
      justify-content center
      &__wrapper
        position relative
        display flex
        justify-content center
        margin-right 20px
        &:last-child
          margin-right 0
      &__shadow
        position absolute
        z-index 1
        width 80%
        height 100%
        box-shadow 0px 9px 48px rgba(0, 0, 0, 0.48)
      &__desc
        color white
        h5
          text-transform uppercase
          font-size 20px
          font-weight 900
          font-family 'Montserrat', sans-serif
          margin-bottom 5px
        p
          font-size 14px
          font-weight 300
          font-family 'Montserrat', sans-serif
      &:not(:last-child)
        margin-right 30px
  &__desc
    display flex
    &__arrow
      display none
    &__title, &__text
      width 50%
    &__title
      font-size 45px
      font-family 'Montserrat', sans-serif
      font-weight 900
      color white
      margin-left 315px
      +bp(l)
        font-size 35px
    &__text
      margin-right 150px
      +bp(l)
        margin-right 25px
      p
        margin-bottom 67px
        height 361px
        overflow auto
        font-size 16px
        line-height 26px
        color white
        font-family 'Montserrat', sans-serif

@media (max-width 768px)
  .how
    background: url('./../images/how_bg768.png') no-repeat center;
    padding 42px 0 82px 0
    margin-bottom 55px
    &__desc
      align-items center
      &__title
        margin-left 90px
        font-size 25px
        line-height 30px
      &__text
        margin-right 30px
        p
          height 180px
          font-size 14px
          line-height 23px
          margin-bottom 22px
    &__plan
      padding 0 21px
      &__items
        padding-bottom 90px
      &__item
        padding 24px 15px
        &__wrapper
          margin-right 17px
        &__desc
        h5
          font-size 12px
        p
          font-size 10px
      &__ico
        margin-right 13px
        svg 
          fill white
          width 31px
          height 31px

@media (max-width 480px)
  .how
    background: url('./../images/how_bg480.png') no-repeat center;
    background-size cover
    padding 0
    margin 0 0 215px 0
    &__plan
      overflow auto
      padding: 5px 21px 30px 21px
      &__items
        width 782px
        display flex
        align-items center
        padding-bottom 27px
      &__item
        &:not(:last-child)
          margin-right 17px
    &__desc
      flex-direction column
      &__title
        font-size 18px
        margin 0
        text-align center
        width 100%
      &__text
        position relative
        top 175px
        width 300px
        margin 0 10px
        box-sizing border-box
        border-radius 0 25px 0 25px
        background: linear-gradient(#00a5ee 0%, #0068d1 25.14%, #0010a1 81.39%, #001991 100%);
        box-shadow 0px 9px 48px #00227d
        padding 11px 14px 0 14px
        p
          margin 0
          font-size 12px
          height 156px
        a
          display none
      &__arrow
        display flex
        justify-content center
        margin 14px 0 11px
        svg
          cursor pointer 
          height 14px
          width 8px
          fill white