.technology
  margin 70px auto 60px
  padding 0 10px
  &__icons
    width 100%
    display flex
    justify-content space-between
  &__icon
    display flex
    flex-direction column
    align-items center
    justify-content center
    p
      font-family 'Montserrat', sans-serif
      font-size 16px
      color #848484
      transition color .5s ease
      will-change color
    svg 
      width 90px
      height 70px
      fill rgba(black, 0.19)
      margin-bottom 24px
      transition fill .5s ease
      will-change fill
    &:hover
      p
        color #167ac6
      svg 
        fill #167ac6

@media (max-width 768px)
  .technology
    margin 36px 33px
    &__icon
      p
        font-size 10px
      svg
        width 44px
        height 34px
  
@media (max-width 480px)
  .technology
    margin 36px 10px 0 10px
    overflow auto
    &__icons
      overflow auto
    &__icon
      margin-right 23px