.works
  margin-bottom 110px
  &__items
    display flex
    flex-wrap wrap
    justify-content space-around

  &__item
    position relative
    display inline-block
    z-index 1
    height 210px
    cursor pointer
    width 362px
    box-shadow 0 10px 21px rgba(0, 0, 0, .49)
    margin-bottom 45px
    // &:not(:last-child)
    //   margin-right 15px
    // &:nth-child(3)
    //   margin-right 0
    &__link
      svg 
        width: 30px;
        height: 8px;
        fill: white;
        position: absolute;
        z-index: 5;
        stroke: white;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity 0
        transition opacity .5s ease
    img
      position absolute
      z-index 2
      top 0
      left 0
      width 100%
      height 100%
    p
      position: absolute;
      z-index: 4;
      color: white;
      top: 50%;
      left: 50%;
      font-size: 25px;
      transform: translate(-50%, -50%);
      font-family 'Gotham-Medium'
      transition all .5s ease
    
    &:before
      content ''
      position absolute
      z-index 3
      top 0
      left 0
      width 100%
      height 100%
      background: linear-gradient(rgba(0, 136, 238, 0.1) 0%, rgba(0, 0, 0, 0.75) 75.31%, rgba(0, 0, 0, 1) 100%);
      opacity: 0.85;
      transition all .5s ease
    &:hover
      p
        top 30%
      &:before
        opacity 0.95
        background linear-gradient(rgba(0, 136, 238, 0.1) 0%, rgba(0, 0, 0, 0.75) 0.31%, rgba(0, 0, 0, 1) 100%)
      .works__item__link
        svg 
          opacity 1
  &__btn
    text-align center


@media (max-width 768px)
  .works
    margin-bottom 40px
    &__items
      justify-content space-around
    &__item
      width 356px
      height 199px
      &:not(:last-child)
        margin-right unset

@media (max-width 480px)
  .works
    .container
      padding 0 10px
    &__item
      width 147px
      height 83px
      margin-bottom 18px
      p
        font-size 12px
      &:last-child
        margin-bottom 0

  .btn
    &--black
      padding 8px 17px
      font-size 12px