<div class="header__banner__text">
  <p>IT компания Intent Solutions в Харькове оказывает услуги по разработке сайтов, мобильных приложений и индивидуальных проектов на базе frameworks YII2, Laravel, Zend, Symfony, CMS OpenCart с 2013 года. За 5 лет мы выработали свою стратегию успешной и результативной работы. Наша основная цель - это конкретный результат, который получит Ваш бизнес. И для его достижения мы используем исключительно комплексный подход в работе.</p>
  <div class="how__desc__arrow">
    <svg>
      <use xlink:href='#ico-arrow-down'></use>
    </svg>
  </div>
</div>