<div class="header__banner__text">
  <p><b>Интернет магазин</b> - это одностраничный сайт, основной целью которого является с призыв к покупке конкретного товара или к заказу услугу компании. В качестве примера это может быть предложение скачать аудио, обучающие материалы, записаться на какое либо мероприятие, конференцию, семинар, подписаться на рассылку. Разработка лендинг пейдж — это скрупулёзная работа ряда опытных специалистов. Ведь от качества посадочной страницы будет зависеть уровень конверсии сайта. Заказать лендинг целесообразно для бизнеса, которому требуется поток клиентов на определенную услугу или товар</p>
  <div class="how__desc__arrow">
    <svg>
      <use xlink:href='#ico-arrow-down'></use>
    </svg>
  </div>
</div>