<div class="header__banner__text">
  <p>Наша команда ищет отличных специалистов, которые готовы внести собственные идеи в проекты, работать в динамичной команде, нести ответственность за свои проекты и искренне гордиться результатом.</p>
  <div class="how__desc__arrow">
    <svg>
      <use xlink:href='#ico-arrow-down'></use>
    </svg>
  </div>
</div>