.header
  &__fade
    width 100%
    height 100%
    position absolute
    background rgba(black, .73)
    top 0
    left 0
    z-index 9
    display none
    transition opacity .5s ease
  &__menu
    transform translateX(1000px)
    position fixed
    right 0
    top 0
    width 996px
    height 100%
    background white
    z-index 10
    display flex
    transition transform .5s ease
    &__wrapper
        margin-top 106px
        margin-left 80px

    &__title
      font-size 35px
      font-family 'Gotham-Medium'
      margin-bottom 60px

    &__close-btn
      height 100%
      width 119px
      background #F6F6F6
      display flex
      justify-content center
      transition background .5s ease
      cursor pointer
      svg 
        margin-top 125px
        width 13px
        height 7px
        transform rotate(-90deg)
      &:hover
        background #F2F2F2

    &__services
      font-family 'Montserrat', sans-serif
      font-size 16px
      font-weight 500
      line-height 60px
      display flex
      margin-bottom 100px
      ul
        &:not(:last-child)
          margin-right 120px
        li
          a
            transition color .5s ease
            &:hover
              color #167AC6
    &__links
      margin-bottom 100px
      a
        font-family 'Gotham-Medium'
        font-size 20px
        transition color .5s ease
        &:hover
          color #167AC6
        &:not(:last-child)
          margin-right 50px
    &__separator
      margin-bottom 100px
      height 1px
      width 750px
      background rgba(black, .08)
    &__contacts
      display flex
      align-items flex-end
      justify-content space-between
      &__inner
        display flex
        flex-direction column
        a
          font-family 'Gotham-Medium'
          font-size 20px
          transition color .5s ease
          color #2CA2FF
          &:not(:last-child)
            margin-bottom 40px
          &:hover
            color #167AC6
      &__soc
        a
          &:not(:last-child)
            margin-right 25px
          svg
            width 20px
            height 20px
            fill #2CA2FF

@media (max-width 768px)
  .header
    &__menu
      width 100%
      &__contacts
        width 100%
        flex-wrap wrap
        &__inner, &__soc
          width 50%
      &__links
        a
          &:not(:last-child) 
            margin-right 25px
      &__wrapper
        margin-left 20px
      &__close-btn
        flex-shrink 0

@media (max-width 480px)
  .header
    &__menu
      width 100%
      &__separator
        display none
      &__title
        margin-bottom 15px
      &__services
        line-height 1.65
        display flex
        flex-direction column
        margin-bottom 20px
        ul
          &:not(:last-child)
            margin-right 0
          a
            font-size 12px
      &__contacts
        width 100%
        flex-wrap wrap
        flex-direction column
        &__inner, &__soc
          width 100%
        &__inner
          a
            font-size 12px
            margin-bottom 15px
            &:not(:last-child)
              margin-bottom 10px
      &__links
        display flex
        flex-direction column
        margin-bottom 40px
        a
          font-size 12px
          line-height 1.65
          margin-right 0
      &__wrapper
        margin-left 20px
        margin-top 20px
      &__close-btn
        flex-shrink 0
        width 90px