.header
  display flex
  align-items center
  flex-wrap wrap
  &__wrapper
    height 100px
    background white
    display flex
    justify-content space-between
    align-items center
    width 100%

  &__banner
    position relative
    height: 380px;
    width 100%
    background url('./../images/main__banner.png') center no-repeat
    background-size cover
    &--work
      background url('./../images/work__banner.png') center no-repeat
    &--about
      background url('./../images/about__banner.png') center no-repeat
    &--contacts
      background url('./../images/contacts__banner.png') center no-repeat
    &--blog
      background url('./../images/blog__banner.png') center no-repeat
    &--vacanciesArticle
      background url('./../images/vacanciesArticle__banner.png') center no-repeat
    &--vacancies
      background url('./../images/vacancies__banner.png') center no-repeat
    &__text
      padding 58px 84px
      border-radius 0px 50px
      background linear-gradient(to left, #00a5ee 0%, #0068d1 25.14%, #0010a1 81.39%, #001991 100%)
      overflow auto
      color white
      font-family 'Montserrat', sans-serif
      font-size 28px
      line-height 30px
      font-weight normal
      font-size 18px  
      letter-spacing 0.03em
      b
        font-weight bold
    &__title
      padding-top 80px
      margin-bottom 50px
      color white
      font-size 45px
      font-weight 900
      font-family 'Gotham-Medium'
      &--centered
        padding-top 100px
        text-align center
    &__btns
        display flex
        align-items center
        a:first-child
          margin-right 50px
        a:nth-child(2)
          position relative
          padding-left 50px
          &:after
            content ''
            position absolute
            left 0
            top 0
            width 1px
            height 100%
            background white
            display block
        a:nth-child(3)
          padding-left 50px
          text-align right
    &__link
      font-family 'Montserrat', sans-serif
      font-size 20px
      color white
      padding 10px 0
      transition color .5s ease
      &:hover
        color #167AC6

  &__menu-btn
    margin 0 70px 0 40px
    svg 
      transition stroke .5s ease
      height 14px
      width 25px
      stroke #000
    &:hover
      svg
        stroke #167AC6

   &__contacts
    display flex
    align-items center

    &__phone
      padding-right 28px
      display flex
      align-items center
      svg 
        width 11px
        height 18px
        margin-right 30px
        transition all .5s ease
      a
        font-family 'Gotham-Bold'
        transition all .5s ease
        font-size 18px
      &:hover
        a
          color #167AC6
        svg 
          fill #167AC6

    &__lang
      text-transform uppercase
      font-family 'Montserrat', sans-serif
      font-size 16px
      font-weight 400
      padding-left 28px
      position relative
      a
        transition color .5s ease
        &:hover
          color #167AC6
      &:before
        content ''
        height 18px
        width 1px
        position absolute
        left 0
        display block
        background #000

.logo 
  font-family 'Oswald', sans-serif;
  margin-left 200px
  h2
    font-size 35px
    color #292929
  span 
    color #167AC6
  +bp(l)
    margin-left 100px
    

@media (max-width 768px)
  .header
    &__menu-btn
      margin 0 0 0 40px
    &__wrapper
      padding 0 20px
      height 65px
    &__contacts
      &__phone, &__lang 
        font-size 16px
    &__banner
      height 188px
      &--work
        background url('./../images/work__banner768.png') center no-repeat
      &--about
        background url('./../images/about__banner768.png') center no-repeat
        .header__banner__wrapper
          padding 0 20px 
      &--contacts
        background url('./../images/contacts__banner768.jpg') center no-repeat
      &__title
        text-align center
        margin 0
        padding-top 30px
      &__wrapper
        padding 0 85px
        .container
          padding 0
      &__title
        font-size 25px
        letter-spacing 0.04em
        font-family 'Gotham-Medium'
        font-weight 500
        line-height 26px
        // margin-top 29px
        margin-bottom 25px
      &__link
        font-size 13px
      &__btns
        a
          &:first-child
            margin-right 30px
          &:nth-child(2)
            padding-left 10px
          &:nth-child(3)
            padding-left 10px

  .logo
    margin 0
    h2
      font-size 25px

@media (max-width 480px)
  .header
    &__wrapper
      height 37px
    &__contacts
      &__phone
        padding-right 16px
        svg 
          height 14px
          width 9px
          margin-right 0
        a
          display none
      &__lang
        padding-left 16px
    &__menu-btn
      margin-left 26px
    &__banner
      height 79px
      &--about
        .header__banner__wrapper
          padding 50px 20px
        .header__banner__text
          position relative
          padding 11px 14px 0
          height 201px
          p
            letter-spacing: 0.03em;
            line-height: 20px;
            overflow auto
            margin 0
            font-size 12px
            height 156px
      &__wrapper
        padding 10px
      &__title
        display none
      &__text
        padding: 20px 10px;
        font-size: 12px;
        line-height: 1.65;
      &__btns
        margin-top 22px
        flex-direction column-reverse
        justify-content center
        a
          &:first-child
            margin-right 0px
          &:nth-child(2)
            &:after
              display none
        &__links
          &:first-child
            margin-right 18px
  .logo
      h2
        font-size 14px
  .btn
    &--white
      &--mob
        font-size 12px
        margin-top 14px
        border none
        background #0088EE
        padding 10px 29px