<div class="blogBlock__wrapper">
  <div class="blogBlock__item">
    <a href="#" class="blogBlock__img-wrapper">
      <div class="blogBlock__img-wrapper__shadow"></div>
      <div class="blogBlock__img">
        <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/blog1.png" alt="blogBlock_img">
      </div>
    </a>
    <div class="blogBlock__desc">
      <a href="#">Лучшие инструменты прототипирования сайтов
        уходящего года</a>
    </div>
  </div>
  <div class="blogBlock__item">
    <a href="#" class="blogBlock__img-wrapper">
      <div class="blogBlock__img-wrapper__shadow"></div>
      <div class="blogBlock__img">
        <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/blog2.png" alt="blogBlock_img">
      </div>
    </a>
    <div class="blogBlock__desc">
      <a href="#">Основные причины низкой эффективности
        рекламы у Insta-блогеровОсновные причины
        низкой эффективности рекламы у Insta-
        блогеров ...</a>
    </div>
  </div>
  <div class="blogBlock__item">
    <a href="#" class="blogBlock__img-wrapper">
      <div class="blogBlock__img-wrapper__shadow"></div>
      <div class="blogBlock__img">
        <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/blog3.png" alt="blogBlock_img">
      </div>
    </a>
    <div class="blogBlock__desc">
      <a href="#">Продвижение сайта в небольшом городе</a>
    </div>
  </div>
  <div class="blogBlock__item">
    <a href="#" class="blogBlock__img-wrapper">
      <div class="blogBlock__img-wrapper__shadow"></div>
      <div class="blogBlock__img">
        <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/blog4.png" alt="blogBlock_img">
      </div>
    </a>
    <div class="blogBlock__desc">
      <a href="#">5 маркетинговых фишек</a>
    </div>
  </div>
</div>