<div class="consultation">
  <div class="consultation__text">
    <div class="consultation__img">
    </div>
    <svg><use xlink:href='#arrows-icons'></use></svg>
    <div class="consultation__text__wrapper">
      <h2>
        Professional web development
      </h2>
      <h4>Don’t spend time and money on a website that doesn’t work. You need results.</h4>
      <a href="#" class="btn btn--white consultation__btn">free consultation</a>
    </div>
  </div>
</div>