<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__links">
        <div class="footer__links__item">
          <ul>
            <li>
              <a href="#">
                Контекст
              </a>
            </li>
            <li>
              <a href="#">
                Копирайтинг
              </a>
            </li>
            <li>
              <a href="#">
                SEO
              </a>
            </li>
            <li>
              <a href="#">
                Маркетинг
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__links__item">
          <ul>
            <li>
              <a href="#">
                Landing Page
              </a>
            </li>
            <li>
              <a href="#">
                Сайт визитка
              </a>
            </li>
            <li>
              <a href="#">
                Корпоративный сайт
              </a>
            </li>
            <li>
              <a href="#">
                Интернет магазин
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="footer__separator"></div>

      <div class="footer__contacts">
        
        <div class="footer__contacts__item">
          <ul>
            <li>
              <a href="#">
                Our story
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
            <li>
              <a href="#">
                Contact us
              </a>
            </li>
            <li>
              <a href="#">
                Work
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__contacts__wrapper">
          <a href="tel:+380671892834">+38 (067) 189 28 34</a>
          <a href="tel:+380671892834">+38 (067) 189 28 34</a>
          <a href="mailto:info@intent-solutions.com">info@intent-solutions.com</a>
          <div class="footer__soc">
            <a href="#"><svg><use xlink:href='#ico-facebook-f'></use></svg></a>
            <a href="#"><svg><use xlink:href='#ico-instagram'></use></svg></a>
            <a href="#"><svg><use xlink:href='#ico-linkedin'></use></svg></a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <div class="footer__copyright__wrapper">
        <a href="/">Intent-Solutions</a>
        <a href="#">© Copyright - Privacy Policy and Terms</a>
      </div>
    </div>
  </div>
</footer>