<div class="header__fade"></div>
<div class="header__menu">
  <div class="header__menu__close-btn">
    <svg><use xlink:href='#ico-arrow-back'></use></svg>
  </div>
  <div class="header__menu__wrapper">
    <h2 class="header__menu__title">Меню</h2>
    <div class="header__menu__services">
      <ul>
        <li>
          <a href="#">Контекст</a>
        </li>
        <li>
          <a href="#">Копирайтинг</a>
        </li>
        <li>
          <a href="#">SEO</a>
        </li>
        <li>
          <a href="#">Маркетинг</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">Landing Page</a>
        </li>
        <li>
          <a href="#">Сайт визитка</a>
        </li>
        <li>
          <a href="#">Корпоративный сайт</a>
        </li>
        <li>
          <a href="#">Интернет магазин</a>
        </li>
      </ul>
    </div>
    <div class="header__menu__links">
      <a href="#">О нас</a>
      <a href="#">Наши работы</a>
      <a href="#">Блог</a>
      <a href="#">Работа у нас</a>
      <a href="/intent/contacts.html">Контакты</a>
    </div>
    <div class="header__menu__separator"></div>
    <div class="header__menu__contacts">
      <div class="header__menu__contacts__inner">
        <a href="tel:+380671892834">+38 (067) 189 28 34</a>
        <a href="let:+380671892834">+38 (067) 189 28 34</a>
        <a href="mailto:info@intent-solutions.com">info@intent-solutions.com</a>
      </div>
      <div class="header__menu__contacts__soc">
        <a href="#"><svg><use xlink:href='#ico-facebook-f'></use></svg></a>
        <a href="#"><svg><use xlink:href='#ico-instagram'></use></svg></a>
        <a href="#"><svg><use xlink:href='#ico-linkedin'></use></svg></a>
      </div>
    </div>
  </div>
</div>