<section class="how">
  <h2 class="section-title section-title--white">Как мы работаем</h2>
  <h4 class="section-desc section-desc--white">
    Here is a quick overview of our process for creating custom<br>
    web design and marketing solutions for our clients.
  </h4>

  <div class="how__plan container">
    <div class="how__plan__items">
      <div class="how__plan__item__wrapper">
        <div class="how__plan__item__shadow"></div>
        <div class="how__plan__item">
          <div class="how__plan__ico">
            <svg>
              <use xlink:href='#ico-strategy'></use>
            </svg>
          </div>
          <div class="how__plan__item__desc">
            <h5>strategy</h5>
            <p>We determine your goals with you</p>
          </div>
        </div>
      </div>
      <div class="how__plan__item__wrapper">
        <div class="how__plan__item__shadow"></div>
        <div class="how__plan__item">
          <div class="how__plan__ico">
            <svg>
              <use xlink:href='#ico-services'></use>
            </svg>
          </div>
          <div class="how__plan__item__desc">
            <h5>services delivered</h5>
            <p>We deliver on time and on budget</p>
          </div>
        </div>
      </div>
      <div class="how__plan__item__wrapper">
        <div class="how__plan__item__shadow"></div>
        <div class="how__plan__item">
          <div class="how__plan__ico">
            <svg>
              <use xlink:href='#ico-strategy'></use>
            </svg>
          </div>
          <div class="how__plan__item__desc">
            <h5>your results</h5>
            <p>Goals are measured and analyzed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="how__desc">
    <h2 class="how__desc__title">Создание сайтов<br>в Харькове</h2>
    <div class="how__desc__text">
      <p>
        IT компания Intent Solutions в Харькове оказывает услуги по разработке сайтов, мобильных приложений и
        индивидуальных проектов на базе frameworks YII2, Laravel, Zend, Symfony, CMS OpenCart с 2013 года. За 5 лет мы
        выработали свою стратегию успешной и результативной работы. Наша основная цель - это конкретный результат,
        который получит Ваш бизнес. И для его достижения мы используем исключительно комплексный подход в работе.
        Стоимость создания сайта и результат
        Современный онлайн бизнес существует в рамках жесткой конкуренции, поэтому при выводе проекта в интернет
        пространство крайне важно использовать весь арсенал доступных инструментов. Создание сайта в Харькове или
        мобильного приложения для нас не заканчивается написанием последней строчки кода и тестированием продукта.
        Разработку WEB сайта считаем завершенной, только после того, как Вы начали получать первые звонки от клиентов! И
        за время работы такой подход позволил нам завоевать доверие и лояльность со стороны Заказчиков, с 70% которых мы
        выстроили долгосрочные партнерские отношения.IT компания Intent Solutions в Харькове оказывает услуги по
        разработке сайтов, мобильных приложений и индивидуальных проектов на базе frameworks YII2, Laravel, Zend,
        Symfony, CMS OpenCart с 2013 года. За 5 лет мы выработали свою стратегию успешной и результативной работы. Наша
        основная цель - это конкретный результат, который получит Ваш бизнес. И для его достижения мы используем
        исключительно комплексный подход в работе.
        Стоимость создания сайта и результат
        Современный онлайн бизнес существует в рамках жесткой конкуренции, поэтому при выводе проекта в интернет
        пространство крайне важно использовать весь арсенал доступных инструментов. Создание сайта в Харькове или
        мобильного приложения для нас не заканчивается написанием последней строчки кода и тестированием продукта.
        Разработку WEB сайта считаем завершенной, только после того, как Вы начали получать первые звонки от клиентов! И
        за время работы такой подход позволил нам завоевать доверие и лояльность со стороны Заказчиков, с 70% которых мы
        выстроили долгосрочные партнерские отношения.
      </p>
      <div class="how__desc__arrow">
        <svg>
          <use xlink:href='#ico-arrow-down'></use>
        </svg>
      </div>
      <a href="#" class="btn btn--white">free consultation</a>
    </div>
  </div>

</section>