<div class="works__items">
  <a href="#" class="works__item">
    <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/work1.png" alt="">
    <p>coccohairpro</p>
    <div class="works__item__link">
      <svg><use xlink:href='#ico-arrow-top'></use></svg>
    </div>
  </a>
  <a href="#" class="works__item">
    <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/work2.png" alt="">
    <p>appliancehub</p>
    <div class="works__item__link">
      <svg><use xlink:href='#ico-arrow-top'></use></svg>
    </div>
  </a>
  <a href="#" class="works__item">
    <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/work3.png" alt="">
    <p>lorooro</p>
    <div class="works__item__link">
      <svg><use xlink:href='#ico-arrow-top'></use></svg>
    </div>
  </a>
  <a href="#" class="works__item">
    <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/work4.png" alt="">
    <p>haircare</p>
    <div class="works__item__link">
      <svg><use xlink:href='#ico-arrow-top'></use></svg>
    </div>
  </a>
  <a href="#" class="works__item">
    <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/work5.png" alt="">
    <p>pylls</p>
    <div class="works__item__link">
      <svg><use xlink:href='#ico-arrow-top'></use></svg>
    </div>
  </a>
  <a href="#" class="works__item">
    <img class='lazyload' src='data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=' data-src="./../images/work6.png" alt="">
    <p>glass</p>
    <div class="works__item__link">
      <svg><use xlink:href='#ico-arrow-top'></use></svg>
    </div>
  </a>
</div>