.about
  padding 0 0 100px 0
  transform translateY(-150px) 
  &__content
    margin-top 80px
    position relative
    display flex
    flex-direction column
    align-items center
    &__wrapper
      position relative
      background #E2F3FB
      border-radius 0px 50px
      padding 75px 95px
      z-index 2
    &__shadows
      z-index 1
      position absolute
      border-radius 0px 50px
      bottom 0
      width 80%
      height 100%
      box-shadow 0px 21px 63px rgba(0, 0, 0, 0.31)

    &__item
      font-family 'Montserrat', sans-serif
      font-family Montserrat
      font-weight 500
      font-size 18px
      letter-spacing 0.03em
      line-height 30px
      color #000
      margin-bottom 50px

@media (max-width 768px)
  .about
    padding 0 0 100px 0
    transform translateY(-75px)
    &__content
      &__wrapper
        padding 75px 54px

@media (max-width 480px)
  .about
    transform translateY(-30px)
    padding 0 0 100px
    &__content
      &__wrapper
        padding 11px 14px
      &__item
        font-size 12px
        line-height 20px
        letter-spacing 0.02em