.blog-article
  &__post-head
    transform translateY(-150px)
    position relative
    display flex
    flex-direction column
  &__date
    color white
    align-self flex-end
    margin-bottom 15px
    font-family 'Gotham-Medium'
    font-size 20px
    letter-spacing 0.1em
    line-height 26px
  &__img
    position relative
    z-index 2
    width 100%
    height 299px
    img
      position absolute
      z-index 2
      top 0
      left 0
      object-fit cover
    &__shadow
      z-index 1
      position absolute
      width 497px
      height 267px
      box-shadow 0px 3px 48px rgba(0, 0, 0, 0.42)
      bottom 10px
      left 35px
  &__post-body
    padding 0 30px 87px 0
    display flex
  &__text
    padding-right 40px
    p, b
      font-size 18px
      font-family 'Montserrat', sans-serif
      font-weight 500
      letter-spacing 0.03em
      line-height 30px
    b
      font-weight 900
      margin 44px 0
      display block
  &__soc
    position sticky
    top 0
    display flex
    flex-direction column
    align-items flex-end;
    height 180px
    a
      &:not(:last-child)
        margin 80px 0 40px 0
      &:hover
        svg
          fill #167ac6
    svg
      width 20px
      height 20px
      will-change fill
      transition fill .5s ease

@media (max-width 768px)
  .blog-article
    &__post-head
      transform translateY(-70px)
@media (max-width 480px)
  .blog-article
    &__post-head
      transform translateY(-60px)
    &__text
      padding-right 10px
      p, b
        font-size 14px
        line-height 21px
      b
        margin 20px 0
    &__post-body
      padding 0 0 40px 0
    &__img
      &__shadow
        width 30%