.btn
  font-family 'Montserrat', sans-serif
  font-weight 900
  &:hover
    color #167ac6
    border-color #167AC6
  &--white
    display inline-block
    padding 10px 35px
    text-transform uppercase
    color white
    border 5px solid white
    transition all .5s ease
  &--black
    display inline-block
    padding 10px 35px
    text-transform uppercase
    color black
    border 5px solid black
    transition all .5s ease
  &--full-black
    display inline-block
    padding 10px 35px
    text-transform uppercase
    color white
    background black
    border 5px solid black
    transition all .5s ease
    &:hover
      background #167AC6
      color white
      border 5px solid #167AC6
  &--slider
    background white
    color black
    text-transform uppercase
    font-family 'Montserrat', sans-serif
    font-weight bold
    font-size 16px
    padding 15px 50px 12px 50px
    line-height 19px
    cursor pointer
    transition all .5s ease
    &:hover
      background #167AC6
      color white


