.lang-logo
    width 105px
    height 105px
    display flex
    justify-content center
    align-items center
    width 105px
    box-shadow 0px 3px 6px rgba(0, 0, 0, 0.36)
    svg
      width 60px
      height 60px
    &--js
      background #f7df1e
      svg
        fill #000
    &--laravel
      background #F35045
      svg
        fill #fff
        stroke none
    &--yii
      background: linear-gradient(-140deg,#5dab22 0%, #cbda76 36.92%, #f3d267 62.84%, #e2482f 100%);
      svg
        width 65px
        height 65px
        stroke none

// svg fix
#technical-support
  stroke black
  [data-name="Ellipse 39"]
    stroke #2CA2FF
    fill #2CA2FF

#marketing
  [data-name="Path 207"]
    fill #00F6FA

#training
  [data-name="Path 206"]
      fill #2CA2FF