.contacts
  &__form
    display flex
    justify-content center
    position relative
    transform translateY(-140px)
    h2
      font-size 30px
      color black
      font-family 'Montserrat', sans-serif
      font-weight 500
      line-height 25px
      text-align center
      margin-bottom 65px
      padding-top 70px
    &__wrapper
      display flex
      justify-content space-between
      width 100%
      background #fff
      position relative
      z-index 2
      max-width 1170px
    &__shadow
      z-index 1
      position absolute
      bottom 0
      height 100%
      display block
      width 80%
      box-shadow: 0px 9px 54px rgba(0, 0, 0, 0.26)
    &__col
      position relative
      width 100%
      form
        padding 0 128px 0 87px
    &__info
      min-width 555px
      height 100%
      background url('./../images/contact__form-bg.png') no-repeat center
      background-size cover
      &__shadows
        width 80%
        position absolute
        bottom 0
        height 100%
        display none
      &__item
        padding 0 82px
        margin-bottom 45px
        display flex
        align-items center
        svg
          width 20px
          height 20px
        a
          margin-left 25px
          font-family 'Montserrat', sans-serif
          letter-spacing 0.12em
          line-height 30px
          transition color .5s ease 
          will-change color
          &:hover
            color #167ac6

      &__separator
        margin 36px 82px 80px 82px
        height 1px
        width 394px
        background rgba(black, .21)
      &__phones
        padding 0 0 62px 82px
        display flex
        &__wrapper
          margin-left 25px
          display flex
          flex-direction column
        svg
          width 20px
          height 20px
        a
          
          font-family 'Montserrat', sans-serif
          letter-spacing 0.12em
          line-height 30px
          margin-bottom 30px
          transition color .5s ease 
          will-change color
          &:hover
            color #167ac6
          &:last-child
            margin-bottom 0
      &__soc
        padding 0 0 79px 128px
        svg
          width 20px
          height 20px
          margin-right 34px
          transition fill .5s ease 
          will-change fill
          &:hover
            fill #167ac6

    &__input
      display flex
      flex-direction column
      margin-bottom 34px
      &:last-child
        margin-bottom 0
      label
        color #565656
        font-size 16px
        font-family 'Montserrat', sans-serif
        letter-spacing 0.12em
        line-height 30px
        padding-bottom 7px
      input
        border 1px solid #E4E4E4
        height 50px
        text-indent 20px
      textarea
        border 1px solid #E4E4E4
        text-indent 20px
        height 100px
        padding-top 12px
        resize none

@media (max-width 768px)
  .contacts
    &__form
      transform translateY(-85px)
      &__wrapper
        flex-direction column-reverse
      &__shadow
        display none
        // box-shadow: 0px 9px 54px rgba(0, 0, 0, 0.26)
      &__col
        display flex
        flex-direction column
        align-items center
        form
          padding 0
      &__info
        position relative
        min-width 100% 
        z-index 2
        &__phones
          padding 0 0 62px 119px
        &__soc
          padding 0 0 79px 164px
        &__item
          padding 0 119px
          &--mob
            margin-bottom 82px
        &__separator
          display none
        &__shadows
          display block
          z-index 1
          box-shadow: 0px 9px 54px rgba(0, 0, 0, 0.26)
      &__input
        width 400px

@media (max-width 480px)
  .contacts
    &__form
      transform translateY(-35px)
      h2
        font-size 25px
        line-height 1.65
      &__col
        display flex
        flex-direction column
        align-items center
        form
          padding 0
      &__info
        position relative
        min-width 100% 
        z-index 2
        &__phones
          padding 0 20px
          margin-bottom 20px
          a
            margin-bottom 20px
            
        &__soc
          padding 20px 0 20px 0
          display flex
          justify-content center
          align-items center
          a
            &:last-child
              svg 
                  margin-right 0
        &__item
          padding 0 20px
          margin-bottom 25px
          &--mob
            margin-bottom 82px
        &__separator
          display none
        &__shadows
          display block
          z-index 1
          box-shadow: 0px 9px 54px rgba(0, 0, 0, 0.26)
      &__input
        width 300px