.footer
  position relative
  &__wrapper
    display flex
    justify-content space-between
    padding 60px 0 160px
  &__links
    background #fff
    display flex
    &__item
      margin-right 170px
      li
        margin-bottom 30px
      a
        font-size 16px
        font-family 'Montserrat', sans-serif
        font-weight 500
        letter-spacing 0.04em
        will-change color
        transition color .5s ease
        &:hover
          color #167ac6
      +bp(l)
        margin-right 75px
  &__contacts
    display flex
    &__item
      margin-right 170px
      li
        margin-bottom 30px
    a
      margin-bottom 30px
      font-size 16px
      font-family 'Montserrat', sans-serif
      font-weight 500
      letter-spacing 0.04em
      transition color .5s ease
      &:hover
        color #167ac6
    &__wrapper
      display flex
      flex-direction column
      align-items flex-end
  &__soc
    display flex
    justify-content flex-end
    a
      margin-bottom 0
      &:not(:last-child)
        svg
          margin-right 20px
      svg
        width 19px
        height 19px
        fill black
        transition fill .5s ease
        will-change fill
      &:hover
        svg
          fill #167ac6
  &__copyright
    position absolute
    bottom 0
    padding 35px 0
    width 100%
    background #262626
    a
      color white
      font-size 16px
      font-family 'Montserrat', sans-serif
      font-weight 500
    &__wrapper
      display flex
      justify-content space-between


@media (max-width 1024px)
  .footer
    &__wrapper
      padding 55px 0 75px
    &__links
      background #fff
      display flex
      &__item
        margin-right 68px
        li
          margin-bottom 30px
          a
            font-size 13px


@media (max-width 768px)
  .footer
    &__wrapper
      padding 55px 0 75px
    &__links
      background #fff
      display flex
      &__item
        margin-right 68px
        li
          margin-bottom 30px
          a
            font-size 13px

    &__contacts
      a
        font-size 13px
      &__item
        margin-right 68px
        li
          margin-bottom 30px
          a
            font-size 13px
    &__copyright
      padding 22px 0
      a
        font-size 14px

// end pc media

@media (max-width 480px)
  .footer
    &__wrapper
      padding 55px 0 125px!important
    &__separator
      height 1px
      width 100%
      background rgba(black, .17)
      margin 42px 0
    &__links
      justify-content space-between
      flex-direction: row-reverse
    &__wrapper
      padding 47px 0 13px 0
      flex-direction column
    &__links
      &__item
        margin-right 0!important
        &:first-child
          text-align right
        &:last-child
          text-align left
        li
          margin-bottom 14px
          a
            font-size 12px

    &__contacts
      justify-content space-between
      flex-direction row-reverse
      align-items flex-end
      &__wrapper
        align-items flex-start
      a
        margin-bottom 14px
        font-size 12px
      &__item
        margin-right 0
        &:last-child
          text-align end
        li
          margin-bottom 14px
          a
            font-size 12px
    &__copyright
      &__wrapper
        flex-direction column
        align-items center
        a
          font-size 12px
          &:not(:last-child)
            margin-bottom 15px