@import 'mixin'

*
  line-height 1.65
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  outline none!important
  -webkit-tap-highlight-color: transparent !important

html,body
  scrollbar-width none
  -ms-overflow-style none
  ::-webkit-scrollbar
    display none
    width 0px
  scroll-behavior smooth
  font-family sans-serif
  height 100%
  width 100%
  overflow-x hidden

.container
  width: 100%
  max-width 1410px
  margin 0 auto
  height: 100%
  position: relative
  +bp(xl)
    max-width 1170px
  +bp(l)
    max-width 970px
  +bp(m)
    max-width none
    padding 0 10px
    box-sizing border-box

img
  height 100%
  width 100%
  object-fit cover

button, input, textarea
  font-family inherit
  margin 0
  padding 0
  background transparent
  border 0

span
  color inherit

a
  color inherit
  text-decoration none

.block-btn
  text-align center
  +bp(s)
    margin-top 35px

// header
@import './header/header'
@import './header/header__menu'

// main page

//technology
@import './mainPage/technologyBlock'
//works
@import './mainPage/workBlock'
//works
@import './mainPage/howBlock'
//blog
@import './mainPage/blogBlock'
//consultation
@import './mainPage/consultationBlock'

// main page END

// contact page
@import './contacts'
// contact page END

// about page
@import './about'
// about page END

// about work
@import './work'
// about work END


// blog work
@import './blog'
// blog work END

// blog-article work
@import './blog-article'
// blog-article work END

// vacancies page
@import './vacancies'
// vacancies page END

// vacancies-article page
@import './vacancies-article'
// vacancies-article page END


// services pages
@import './services/services'
@import './services/services-additional-desc'
@import './services/services-pluses'
@import './services/services-slider'
// services pages END

// footer
@import './footer'


//typography
@import './typography'
//common
@import './common'
//buttons
@import './buttons'