@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic')

@font-face
  font-family Gotham-Bold
  src url('./../fonts/GothamPro-Bold.eot')
  src url('./../fonts/GothamPro-Bold.woff2') format("woff2"),url('./../fonts/GothamPro-Bold.woff') format("woff"),url('./../fonts/GothamPro-Bold.ttf') format("truetype"),url('./../fonts/GothamPro-Bold.eot?#iefix') format("embedded-opentype")
  font-weight 600
  font-style normal

@font-face
  font-family Gotham-Medium
  src url('./../fonts/GothamPro-Medium.eot')
  src url('./../fonts/GothamPro-Medium.woff2') format("woff2"),url('./../fonts/GothamPro-Medium.woff') format("woff"),url('./../fonts/GothamPro-Medium.ttf') format("truetype"),url('./../fonts/GothamPro-Medium.eot?#iefix') format("embedded-opentype")
  font-weight 400
  font-style normal

.section-title
  font-size 45px
  font-family 'Montserrat', sans-serif
  font-weight 900
  text-align center
  margin-bottom 45px
  &--white
    color white
    margin-bottom 15px

.section-desc
  color white
  text-align center
  font-size 16px
  line-height 25px
  padding-bottom 65px


@media (max-width 768px)
  .section-title 
    font-size 25px
    margin-bottom 32px
  .section-desc
    display none

@media (max-width 480px)
  .section-title
    padding-top 24px
    font-size 18px
    margin-bottom 13px