.vacancies-article
  transform translateY(-150px)
  position relative
  &__wrapper
    display flex
    flex-direction column
    align-items center
  &__items
    position relative
    z-index 2
    border-radius 0px 50px
    background #e2f3fb
    width 100%
    padding 120px 210px 54px 60px
    box-sizing border-box
    display flex
    flex-direction column
    .block-btn
      align-self flex-start
  &__shadow
    position absolute
    z-index 1
    width 80%
    height 50%
    bottom 20px
    border-radius 0px 0px 0px 50px
    box-shadow 0px 9px 48px rgba(0, 0, 0, 0.43)
  &__logo
    position absolute
    left 30px
    top -20px
    
  &__item
    margin-bottom 60px
    h2
      font-family 'Montserrat', sans-serif
      font-weight 600
      font-size 17px
      line-height 48px
      margin-bottom 20px
      text-transform uppercase
    &__list
      &__item
        display flex
        align-items baseline
        font-family 'Montserrat', sans-serif
        font-weight 500
        font-size 14px
        margin-bottom 12px
        line-height 29px
        svg
          flex-shrink 0
          margin-right 8px
          width 9px
          height 7px
        &--must, &--plus
          svg
            width 4px
            height 4px

@media (max-width 768px)
  .vacancies-article
    transform translateY(-70px)
@media (max-width 480px)
  .vacancies-article
    transform translateY(-30px)
    &__items
      padding 120px 15px 50px 15px
      .block-btn
        align-self center
    &__item
      margin-bottom 30px
      &__list
        &__item
          font-size 12px
          line-height 1.65
          svg
            margin-right 15px