.vacancies
  transform translateY(-100px)
  position relative
  &__list
    margin-top 90px
  &__wrapper
    margin-bottom 90px
  &__item
    position relative
    border-radius 0 50px
    display flex
    flex-direction column
    align-items center
    svg
      fill black
      stroke black
      width 30px
      height 8px
    &__logo
      position absolute
      top -40px
      left 20px
    &__text
      display flex
      flex-direction column
      h2
        padding-left 100px
        font-size 20px
        font-weight 700
        margin-bottom 55px
        a
          transition color .5s ease 
          will-change color
          &:hover
            color #167ac6
      p
        font-family 'Montserrat', sans-serif
        font-weight normal
        font-size 16px
        letter-spacing 0.03em
        line-height 30px
        margin-bottom 55px
      &__btn
        align-self flex-end
        svg
          will-change stroke
          transition stroke .5s ease
        &:hover
          svg
            stroke #167ac6

    &__inner
      padding 45px 80px 90px 80px
      border-radius 0 50px
      background #e2f3fb
      position relative
      width 100%
      height 100%
      z-index 2
    &__shadow
      border-radius 0 50px
      width 95%
      height 50%
      bottom 40px
      position absolute
      z-index 1
      box-shadow 0px 21px 63px rgba(0, 0, 0, 0.31)

@media (max-width 768px)
  .vacancies
    transform translateY(-70px)
    &__item

      &__inner
        padding 45px 0 30px
      &__text
        padding 0 10px
        p
          font-size 12px
          line-height 21px
          margin-bottom 20px
        h2
          padding-left 150px
          margin-bottom 20px
@media (max-width 480px)
  .vacancies
    transform translateY(-30px)
    &__item
      &__inner
        padding 45px 0 30px
      &__text
        padding 0 10px
        p
          font-size 12px
          line-height 21px
          margin-bottom 20px
        h2
          font-size 16px
          padding-left 130px
          margin-bottom 20px
    